.author-img {
    height: 200px;
    width: 200px;
}

body {
    text-align: center;
}

.main-article {
    align-items: center;
    border: 1px solid slateblue;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.page-title {
    color: slateblue;
}